@{
    ViewData["Title"] = "DataBase";
}
@using Microsoft.AspNetCore.Http;


<h1>@ViewData["Title"]</h1>



<h1>Complex Type</h1>
<form id="form1" method="post" action="api/updates/AddOrder" 
    enctype="application/x-www-form-urlencoded">
    <div>
        <label for="name">Name of Project</label>
    </div>
    <div>
        <input name="name" type="text" />
    </div>
    <div>
        <label for="date">Date</label>
    </div>
    <div>
        <input name="date" type="text" />
    </div>
    <div>
        <input type="submit" value="Submit" />
    </div>
</form>





<button type="button" class="btn btn-danger">Изменить</button>


<!-- Button ADD trigger modal -->
<button
  type="button"
  class="btn btn-primary"
  data-mdb-toggle="modal"
  data-mdb-target="#addModal"
>
  Add Order
</button>

<a class="" asp-area="" asp-controller="Order" asp-action="Index">
    <button type="button" class="btn btn-primary">
        OpenAll
    </button>
</a>





<!-- Modal -->
<div
  class="modal fade"
  id="addModal"
  tabindex="-1"
  aria-labelledby="addModal"
  aria-hidden="true"
>




  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add new Order to DataBase</h5>
        <button
          type="button"
          class="btn-close"
          data-mdb-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="input-group">
          <span class="input-group-text">Project name</span>
          <textarea class="form-control" name="name" aria-label="Pease name a project"></textarea>
        </div>
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Username" aria-label="Username" />
          <span class="input-group-text">@@</span>
          <input type="text" class="form-control" placeholder="mail" aria-label="Server" />
        </div>
        <div class="input-group">
          <span class="input-group-text">Main info</span>
          <textarea class="form-control" aria-label="Write Description"></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">
          Close
        </button>
        <button type="button submit" value="Submit" class="submit" class="btn btn-primary submit">Save changes</button>
      </div>
    </div>
  </div>
</div>


